# Папка Debug (вижу в структуре)
Debug/
Release/
x64/

# Скомпилированные файлы
*.exe
*.out
*.app
*.o
*.obj
*.lib
*.a
*.so
*.dylib

# Файлы сборки
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Makefile
*.mk
*.project

# Системные файлы
.DS_Store
Thumbs.db

# Файлы редактора/IDE
.vscode/
.idea/
*.swp
*.swo